<app-header></app-header>
<div class="container">

    <div class="bodyContent">
        <h3 style="margin:auto;text-align:center; color:darkorange; font-family:Verdana, Geneva, Tahoma, sans-serif;">Update the Price and Quantity of a Product</h3>

        <div class="addCourseForm">

            <form #productRef="ngForm" (ngSubmit)="updatePrice(productRef.value)">
                
                <div class="row">
                    <div class="col">
                        <label>Product ID: </label>
                    </div>
                    <div class="col">
                        <input type="text" name="pid" ngModel>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Price:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="price" ngModel>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Quantity:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="quantity" ngModel>
                    </div>
                </div>
                <br/>
                <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="Update Product">
                <input type="reset"  class="btn btn-outline-danger" value="Reset">
            </form>
            {{updateMsg}}
        </div>
    </div>
</div>