<div>
    <form #orderRef="ngForm" (ngSubmit)="updateStatus(orderRef.value)">
        <label>Order Id</label>
        <input type="text" name="oid" ngModel/><br/>
        <label>Status</label>
        <input type="text" name="status" ngModel/><br/>
        <input type="submit" value="Update the Status"/>
    </form>
    <form #Ref="ngForm" (ngSubmit)="showOrders()">
        <input type="submit" value="View Orders"/>
    </form>
    <table border="1">
            <tr>
                <th>userID</th>
                <th>Items</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let op of orders">
                    <td>{{op.userID}}</td>
                    <td>{{op.items}}</td>
                    <td>{{op.amount}}</td>
                    <td>{{op.status}}</td>
            </tr>
    </table>
</div>
