<div>
  <img src="assets\img\Users.png" id="icon" alt ="User icon"/>
</div>

<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #firstName="ngModel" [(ngModel)]="userService.selectedUser.firstName" name="firstName" placeholder="First Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !firstName.valid }">
  <div *ngIf="signUpForm.submitted && !firstName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #lastName="ngModel" [(ngModel)]="userService.selectedUser.lastName" name="lastName" placeholder="Last Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lastName.valid }">
  <div *ngIf="signUpForm.submitted && !lastName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>
  <input type="text" #dob="ngModel" [(ngModel)]="userService.selectedUser.dob" name="dob" placeholder="Date of Birth(MM/DD/YY)"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !dob.valid }">
  <div *ngIf="signUpForm.submitted && !dob.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #phoneno="ngModel" [(ngModel)]="userService.selectedUser.phoneno" name="phoneno" placeholder="Phone Number"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !phoneno.valid }">
  <div *ngIf="signUpForm.submitted && !phoneno.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #address="ngModel" [(ngModel)]="userService.selectedUser.address" name="address" placeholder="Address"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !address.valid }">
  <div *ngIf="signUpForm.submitted && !address.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="submit" value="Sign Up">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
  <br/>
  Username is : {{generateUsername}}
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>