<div class="container">
  <!--h1><a href="app.component.html">Capstone Project</a></h1-->
  <div class="menuarea">
      <div class="menuareaItem">

        <!--ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink="Retrieve" >Show Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink="Store" >Add Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink="Delete" >Delete Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink="Update" >Update Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="Requests">View Requests</a>
              </li>
        </ul-->
        <nav class="navbar navbar-expand-lg bg-light p-2 rounded">
          <a class="navbar-brand" href="#">Admin</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto topnav">
                  <li class="nav-item active">
                      <a class="nav-link mt-1" href="#" routerLink="Retrieve">View Products </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mt-1" href="#" routerLink="Store">Add Products</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mt-1" href="#" routerLink="Delete">Delete Products</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mt-1" href="#" routerLink="Update">Update Products</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link mt-1" href="#" routerLink="Requests">View Requests</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mt-1" href="#" routerLink="AddEmp">Add Employee</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mt-1" href="#" routerLink="DelEmp">Delete Employee</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link mt-1 btn btn-danger text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Logout</a>
                  </li>
              </ul>
          </div>
      </nav>
          <!--ul class="nav">
              <li class="nav-item navLocation"><a class="nav-location" routerLink="Retrieve" >Show Products</a></li>
              <li class="nav-item navLocation"><a class="nav-location" routerLink="Store" >Add Products</a></li>
              <li class="nav-item navLocation"><a class="nav-location" routerLink="Delete" >Delete Products</a></li>
              <li class="nav-item navLocation"><a class="nav-location" routerLink="Update" >Update Products</a></li>
              <li class="nav-item navLocation"><a class="nav-location" routerLink="Requests">View Requests</a></li>
              <li class="nav-item navLocation"><a class="nav-location" routerLink="AddEmp" >Add Employee</a></li>
              <li class="nav-item navLocation"><a class="nav-location" routerLink="DelEmp">Delete Employee</a></li>
              <li class="nav-item navLocation"><a class="nav-location" routerLink="Logout">Logout</a></li>
          </ul-->
      </div>
    </div>
</div>
<router-outlet></router-outlet>
