h1 {
    margin: auto;
    text-align: center;
    color:black;
}

a {
    text-decoration: none;
    color: black;
    margin: auto;
    text-align: center;
}

.navLocation {
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.classTable{
    border-collapse: separate !important;
    border: 5px solid black;
    margin: 10px auto;
    text-align: center;
}

/* html{
    height: 100%;
} */
.bodyContent{
    margin:10px auto;

    background-color:cornsilk;
    width: 88%;
    height: 75vh;

    padding: 10px;
    border-radius: 2px;
}

body {
    height: 100%;
    background: linear-gradient(cyan, orange 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.addCourseForm{
    width: fit-content;
    height: fit-content;

    padding: 20px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.menuarea{
    text-align: center;
    margin: 10px auto;
    width: 88%;
    height: max-content;
     
}

.menuareaItem{
    width: max-content;
    height: max-content;
    margin: auto;
    text-align: center;
}

li {
    margin: 10px auto;
    text-align: center;
}
