<div class="container">
    <style>
        th {
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    

    <div class="bodyContent">
    <h3 style="margin:auto;text-align:center; color:darkorange; font-family:Verdana, Geneva, Tahoma, sans-serif;">Products Available</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Request ID</th>         
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pp of requests">    
            <td>{{pp._id}}</td>
            <td>{{pp.desc}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>