<div class="container">
    <!--div class="menuarea">
        <div class="menuareaItem">
  
          <nav class="navbar navbar-expand-lg bg-light p-2 rounded">
            <a class="navbar-brand" href="#">Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">
                    <li class="nav-item active">
                        <a class="nav-link mt-1" href="#" routerLink="Retrieve">View Products </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-1" href="#" routerLink="Store">Add Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-1" href="#" routerLink="Delete">Delete Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-1" href="#" routerLink="Update">Update Products</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link mt-1" href="#" routerLink="Requests">View Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-1" href="#" routerLink="AddEmp">Add Employee</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mt-1" href="#" routerLink="DelEmp">Delete Employee</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link mt-1 btn btn-danger text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
           
        </div>
    </div-->
    <div class="bodyContent">
        <h3 style="margin:auto;text-align:center; color:darkorange; font-family:Verdana, Geneva, Tahoma, sans-serif;">Add Employee</h3>

        <div class="addCourseForm">

            <form #employeeRef="ngForm" (ngSubmit)="addEmployee(employeeRef.value)">
                
                <!--div class="row">
                    <div class="col">
                        <label>Employee ID: </label>
                    </div>
                    <div class="col">
                        <input type="text" name="eid" ngModel>
                    </div>
                </div-->

                <div class="row">
                    <div class="col">
                        <label>First Name: </label>
                    </div>
                    <div class="col">
                        <input type="text" name="fname" ngModel>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Last Name:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="lname" ngModel>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Email:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="email" ngModel>
                    </div>
                </div>

                <!--div class="row">
                    <div class="col">
                        <label>Password:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="pwd" ngModel>
                    </div>
                </div-->
                <br/>
                <input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="Add Employee">
                <input type="reset"  class="btn btn-outline-danger" value="Reset">
            </form>
            {{addMsg}}
        </div>
    </div>
    <router-outlet></router-outlet>
</div>