<div class="container-fluid pt-3">
    <h1>Cart Items</h1>

    <div class="row pt-3" *ngIf = "!isCartEmpty; else notEmpty">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div *ngFor= "let item of cartItems" class="pt-3">
                <div class="col-sm-12 col-md-12 col-lg-12 bg-light rounded border border-secondary p-3">
                    <img class="small-image" src="{{ item.product.imgUrl }}" alt="">
                    <div class="pt-1">
                        <strong> Product : </strong> <span class="mr-5">{{item.product.pname}}</span>  
                        <strong> Price : </strong> <span class="mr-5">{{item.product.price | currency:"USD"}}</span>   
                        <strong> Quantity : </strong> <span class="div-quant span-quant mr-3">{{item.quantity}}</span>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-dark mr-3"  (click) = "increaseItemQuantity(item.product._id,item.quantity)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-dark mr-3"  (click) = "decreaseItemQuantity(item.product._id, item.quantity)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-warning"  (click) = "removeItemFromCart(item.product._id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 col-md-5 col-lg-5 jumbotron mt-3 m-0">
            <h2>Total Items</h2>
            <div *ngFor= "let item of cartItems" class="pt-3">
                <span>
                    {{item.product.pname}}  :
                </span>
                <span class="font-weight-bold span-total">
                    {{item.quantity * item.product.price | currency:"USD"}}
                </span>  
            </div>
                
            <div class="font-weight-bold justify-center pt-5 totalprice">
                Total Price : {{totalPrice | currency:"USD"}}
                <div class="pt-5"> 
                    <a [routerLink] = "['/shop-products']" class="btn btn-primary mr-3">Add More</a>
                    <button (click) = "checkoutCart()" class="btn btn-danger">Checkout</button>    
                </div>
            </div>
        </div>
    </div>
    <ng-template #notEmpty class="pt-3">
        <div class="jumbotron">
            <p class="font-weight-bold totalprice justify-center ">
                No items Added. Cart is empty.
                <a class="btn btn-primary mr-3" [routerLink]="['/shop-products']">Add more items</a>
            </p>
            <br>   
        </div>
    </ng-template>
</div>

