<div>
    <ul>
        <li><a routerLink="/sendRequest">Send Request</a></li>
        <li><a routerLink="/orderUpdate">Update Order</a></li>
        <li><a routerLink="/lockUser">Unlock User</a></li>
        <li><a routerLink="/changeEmployeePassword">Edit Profile</a></li>
        <li><a routerLink="">Logout</a></li>
    </ul>
</div>
<div>
    <form #userRef="ngForm" (ngSubmit)="unlockUser(userRef.value)">
        <label>User Id</label>
        <input type="text" name="uid" ngModel/><br/>
        <!-- <label>Status</label>
        <input type="text" name="status" ngModel/><br/> -->
        <input type="submit" value="Unlock User"/>
    </form>
    <form #Ref="ngForm" (ngSubmit)="showLockedUsers()">
        <input type="submit" value="View Locked Users"/>
    </form>
    <table id="myTable">
            <tr>
                <th>userID</th>
                <th>Message</th>
            </tr>
            <tr *ngFor="let lp of lockedusers">
                    <td>{{lp._id}}</td>
                    <td>{{lp.msg}}</td>
            </tr>
    </table>
</div>
