<div>
    <ul>
        <li><a routerLink="/sendRequest">Send Request</a></li>
        <li><a routerLink="/orderUpdate">Update Order</a></li>
        <li><a routerLink="/lockUser">Unlock User</a></li>
        <li><a routerLink="/changeEmployeePassword">Edit Profile</a></li>
        <li><a routerLink="">Logout</a></li>
    </ul>
</div>
<div>
    <form #empRef="ngForm" (ngSubmit)="changePassword(empRef.value)">
        <label>Employee Id</label>
        <input type="text" name="eid" ngModel/><br/>
        <label>New Password</label>
        <input type="text" name="password" ngModel/><br/>
        <input type="submit" value="Change Password"/>
    </form>
</div>
